/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
}
.container_pai{
    display: flex;
    justify-content: right;
    background-color: rgb(255, 255, 255);
    width:900px;
    height:500px;
}
.lado_direito{
    width: 450px;
    height: 500px;
    background: purple;
    text-align: end;
}
.lado_direito h1{
    color: red;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 40px;
}
.lado_direito h2{
    
}
